<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="DiamondConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%level] %logger %msg%n" />
        </Console>
        <File name="DiamondLog" fileName="server.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} [%level] %logger %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="DiamondConsole"/>
            <AppenderRef ref="DiamondLog"/>
        </Root>
    </Loggers>
</Configuration>
